@import "../stylesheets/actiontext.css";
@import "../stylesheets/custom/animations.tailwind.css";
@import "../stylesheets/custom/badges.tailwind.css";
@import "../stylesheets/custom/calendar.tailwind.css";
@import "../stylesheets/custom/forms.tailwind.css";
@import "../stylesheets/custom/images.tailwind.css";
@import "../stylesheets/custom/navigation.tailwind.css";
@import "../stylesheets/custom/tables.tailwind.css";
@import "../stylesheets/custom/text.tailwind.css";
@import "../stylesheets/custom/tooltips.tailwind.css";

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: bumblebee --default, sunset --prefersdark;
}

/* Prevents Tailwind from removing default browser styles for lists, used by ActionText */
@layer base {
    ul {
        @apply list-disc list-inside
    }
    ol {
        @apply list-decimal list-inside
    }

    h1, h2, h3, h4, h5, h6, blockquote {
        all: unset; /* Unset all inherited and applied styles */
        display: block; /* Restore block display for headings */
        font-size: revert; /* Revert to browser's default font size */
        font-weight: revert; /* Revert to browser's default font weight */
        margin: revert;
    }
}
