<%# locals: (alternative_fields:) %>

<div class="form-group inline-form-group col-span-11 col-start-2">
  <%= alternative_fields.text_field :title, class: "form-control", placeholder: "Alternative 1 ..." %>
  <%= button_tag "Remove",
                 data: { action: "click->surveys#removeAlternative" },
                 tabindex: "-1",
                 class: "button button-danger" %>
</div>
