<%= turbo_frame_tag :calendar do %>
  <div class="-mx-4 md:mx-auto">
    <%= month_calendar(events: @meetings) do |date, meetings| %>
      <%= render "admin/meetings/date", date: date, meetings: meetings %>
    <% end %>
  </div>
<% end %>

<h2 class="mt-6 pt-0 mb-4 text-center">Upcoming</h2>
<div class="flex flex-col gap-4 items-center">
  <%= render "admin/meetings/upcoming", page: @page %>
</div>
