<div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
  <%= card class: "lg:col-span-3" do %>
    <%=
      table_of @page,
               searchable: "Search by name, location or description …",
               row_link_to: -> (meeting) { admin_meeting_path(meeting) },
               actions: [
                 link_to("Import", admin_dashboard_path, class: "button button-secondary"),
                 modal_link_to("New event", new_admin_meeting_path, class: "button button-primary")
               ],
               tabs: [
                 ["Planned events", nil],
                 ["Past", "past"]
               ],
               columns: [
                 {
                   header: 'Name',
                   content: -> (meeting) { meeting.title }
                 },
                 {
                   header: 'Date',
                   content: -> (meeting) do
                     if meeting.upcoming?
                     else
                       badge "Done", color: "green"
                     end
                     if meeting.scheduled?
                       safe_join(
                         [
                           datetime_format(meeting.happens_at),
                           "<br>".html_safe,
                           badge("#{distance_of_time_in_words(Time.current, meeting.happens_at)} #{meeting.past? ? "ago" : "from now"}", color: "orange"),
                         ]
                       )
                     else
                       "No date set"
                     end
                   end
                 },
                 {
                   header: "Location",
                   content: -> (meeting) { meeting.location }
                 },
                 {
                   header: "Description",
                   content: -> (meeting) { truncate meeting.description.to_plain_text, length: 50 }
                 },
               ]
    %>
  <% end %>
</div>
