.dynamic-flash {
    bottom: -32px;
    right: 0;
    width: 100%;

    color: #fff;
    z-index: 10000;
    background-color: #2e2f30;

    font-weight: bold;
    box-shadow: 0 1.25px 7.5px rgba(0, 0, 0, 0.075);
    max-width: 500px;
    text-align: center;

    margin-right: 32px;
    margin-bottom: 0;

    &.big-flash {
        position: relative;
        font-size: 1.2rem;
        padding: 18px 16px;
        transition: bottom 400ms;

        &.animate-in {
            bottom: 0;
        }
    }

    &.mini-flash {
        position: absolute;
        width: auto;
        height: auto;
        padding: 8px;
        font-size: 0.75rem;
        border-radius: 40px;
        top: 0;
        bottom: auto;
    }
}

@media (min-width: 768px) {
    .dynamic-flash.big-flash {
        border-radius: 40px;
        width: initial;
        position: absolute;
    }

    .big-flash.animate-in {
        bottom: 32px;
        margin-bottom: 32px;
    }
}
