<div class="h-screen flex items-center justify-center">
  <div class="text-center">

    <div class="flex w-full mx-auto justify-center">
      <%= image_tag 'logo.png',
                    alt: 'Twine logo',
                    class: 'w-auto h-20' %>
    </div>
    <p class="text-xl mt-4">Organise loose groups of people that<br>you don't meet every day 🧶</p>

    <div class="mt-5">
      <%= link_to 'Get started', new_session_path, class: 'button button-primary button-xl' %>
    </div>

  </div>
</div>
