<%# locals: (row:, table:) %>

<tr
  data-tables--content-target="row"
>

  <% if table.multi_select? %>
    <td
      data-links-noclick="true" class="relative px-7 sm:w-12 sm:px-6">
      <%= check_box_tag(nil,
                        row.record.id,
                        false,
                        class: 'checkbox',
                        data: {
                          action: 'change->tables--multi-select#check',
                          tables__multi_select_target: 'rowCheckbox'
                        })
      %>
    </td>
  <% end %>

  <% row.cells.each do |cell| %>
    <td class="text-sm whitespace-nowrap text-gray-500">
      <%= content_tag(row.url.present? ? :a : :div, { class: "px-3 py-4 block", href: row.url, data: { turbo_frame: '_top' } }.compact) do %>
        <% if cell[:content].call(row.record).is_a?(Array) %>
          <% cell[:content].call(row.record).map do |component| %>
            <%= component %>
          <% end %>
        <% else %>
          <%= cell[:content].call(row.record) %>
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>