<%# locals: (table:) %>

<div class="mb-4">
  <div
    data-controller="tables--tabs"
    data-tables--tabs-table-guid-value="<%= table.guid %>"
  >
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <% table.tabs.each do |tab| %>
          <%= link_to tab.title,
                      url_for(tab: tab.value),
                      tab.html_options.merge(
                        data: { turbo_frame: "_top" },
                        class: "table-tab #{'selected' if tab.selected?}")
          %>
        <% end %>
      </nav>
    </div>
  </div>
</div>
