<%# locals: (table:) %>

<div class="mb-3">
  <div class="sm:flex-auto">
    <% if table.title.present? %>
      <h1 class="text-base font-semibold text-gray-900">
        <%= table.title %>
      </h1>
    <% end %>
  </div>
  <div class="flex justify-between">
    <div class="flex">
      <% if table.searchable? %>
        <%= render('tables/search_field', table: table) %>
      <% end %>
    </div>
    <div class="flex content-center align-center gap-1">
      <% table.actions.each do |link| %>
        <%= link %>
      <% end %>
      <% if table.exportable? %>
        <%= link_to url_for(
                      format: :xls,
                      sort_by: table.sort_by,
                      sort_direction: table.sort_direction,
                      search_term: table.search_term,
                      timestamp: Time.current # prevents file caching
                    ), data: { turbo: false } do %>
          Export
        <% end %>
      <% end %>
    </div>
  </div>
</div>
