@import "actiontext.css";

@import "custom/animations.tailwind.css";
@import "custom/badges.tailwind.css";
@import "custom/buttons.tailwind.css";
@import "custom/calendar.tailwind.css";
@import "custom/forms.tailwind.css";
@import "custom/images.tailwind.css";
@import "custom/navigation.tailwind.css";
@import "custom/tables.tailwind.css";
@import "custom/text.tailwind.css";
@import "custom/tooltips.tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevents Tailwind from removing default browser styles for lists, used by ActionText */
@layer base {
    ul {
        @apply list-disc list-inside
    }
    ol {
        @apply list-decimal list-inside
    }

    h1, h2, h3, h4, h5, h6, blockquote {
        all: unset; /* Unset all inherited and applied styles */
        display: block; /* Restore block display for headings */
        font-size: revert; /* Revert to browser's default font size */
        font-weight: revert; /* Revert to browser's default font weight */
        margin: revert;
    }
}
