<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-stone-700 px-6 pb-4">
    <div class="mt-16">
      <% if admin_page? %>
        <%= render 'navigation/admin_sidebar_options' %>
      <% else %>
        <%= render 'navigation/member_sidebar_options' %>
      <% end %>
    </div>
  </div>
</div>
