<%# locals: (options:, content:) %>

<div
  data-controller="dropdown"
  data-action="dropdown:click:outside->dropdown#close keydown.esc->dropdown#close"
  class="relative inline-block text-left w-fit <%= options[:class] %> z-25"
>
  <%= content %>
</div>
