<div
  data-sidebar-target="sidebar"
  class="mobile-sidebar hidden"
  role="dialog"
  aria-modal="true"
>
  <div
    data-sidebar-target="sidebarBackdrop"
    class="mobile-sidebar-backdrop fade-out"
    aria-hidden="true"></div>
  <div class="fixed inset-0 flex">
    <div
      data-sidebar-target="sidebarMenu"
      class="mobile-sidebar-menu slide-out">
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
        <button
          data-sidebar-target="closeButton"
          data-action="sidebar#toggle"
          type="button"
          class="-m-2.5 p-2.5"
        >
          <span class="sr-only">Close sidebar</span>
          <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-indigo-600 px-6 pb-4">
        <div class="flex h-16 shrink-0 items-center">
          <%= image_tag 'milkshake.png', class: 'h-8 w-auto', alt: 'Milkshake logo' %>
        </div>
        <%= render 'navigation/sidebar_options' %>
      </div>
    </div>
  </div>
</div>
