<%# locals: (modal_content:) %>

<dialog
  data-modal-target="modal"
  class="modal"
>
  <div
    data-modal-target="contentWrapper"
    class="relative min-w-full w-full max-w-md py-6 px-8 md:max-w-lg"
  >
    <%= turbo_frame_tag :modal_content, refresh: :replace do %>
      <% if modal_content %>
        <%= render template: modal_content %>
      <% end %>
    <% end %>
  </div>
</dialog>
