<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-[#2E282A] md:bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6 justify-end">
    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <div data-controller="dropdown"
           class="relative">
        <button type="button"
                data-action="click->dropdown#toggle"
                class="-m-1.5 flex items-center p-1.5"
                aria-expanded="false"
                aria-haspopup="true">
          <span class="sr-only">Open menu</span>
          <span class="flex items-center">
            <%= svg_tag 'icons/caret_down.svg', class: 'ml-2 size-5 text-gray-400' %>
          </span>
        </button>

        <dialog
          data-dropdown-target="menu"
          class="absolute me-10 w-40 -left-32 rounded-md bg-white py-2 mx-0 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
          role="menu"
          tabindex="-1">

          <% Current.user.memberships.with_admin_rights.includes(:platform).each do |membership| %>
            <%= button_to session_path,
                          target: "_top",
                          method: :patch,
                          params: { session: { platform_id: membership.platform_id } },
                          class: "block px-3 py-1 text-sm/6 text-left text-gray-900 hover:bg-gray-50 w-full" do
            %>

              <% if membership.platform == Current.platform %>
                🧶
              <% end %>
              <%= membership.platform.name %>
            <% end %>

            <hr class="text-gray-300">
          <% end %>

          <%= button_to "Log out",
                        session_path,
                        method: :delete,
                        class: "block px-3 py-1 text-sm/6 text-left text-gray-900 hover:bg-gray-50 w-full"
          %>

        </dialog>
      </div>
    </div>
  </div>
</div>

