<%# locals: (meeting:) %>
<div class="flow-root">
  <ul class="-mb-8">
    <% last_log_entry = meeting.log_entries.order(happened_at: :desc).last %>
    <% meeting.log_entries.order(happened_at: :desc).each do |log_entry| %>
      <li class="meeting-log-entry">
        <div class="relative pb-8">
          <% unless log_entry == last_log_entry %>
            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <% end %>
          <div class="relative flex space-x-3">
            <div>
            <span class="flex size-8 items-center justify-center rounded-full bg-gray-400 ring-8 ring-white">
              <svg class="size-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z"/>
              </svg>
            </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">
                  <%= log_entry.description %>
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                <time datetime="<%= datetime_format log_entry.happened_at, format: :html_datetime %>">
                  <%= datetime_format log_entry.happened_at, format: :simple_date %>
                </time>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
