<div class="flex items-center justify-center min-h-screen">
  <div class="relative w-[320px] h-[650px] bg-black rounded-[3rem] shadow-xl p-3">
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2 w-40 h-6 bg-black rounded-b-3xl z-20">
      <div class="absolute top-1 left-1/2 transform -translate-x-1/2 w-20 h-2 bg-gray-800 rounded-full"></div>
    </div>

    <div class="w-full h-full bg-white rounded-[2.5rem] overflow-hidden">
      <div class="h-full overflow-y-auto">
        <%= render "public/platforms/site_content", platform: @platform %>
      </div>
    </div>
  </div>
</div>
